.list-personagens {
  /* background-color: rgb(201, 166, 120); */
  width: 90vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.options {
  display: flex;
  /* background-color: #19b8cd; */
  width: 90vw;
  padding: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}

.options button {
  background-color: #19b8cd;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
}

.options button:disabled {
  background-color: rgba(0, 146, 165, 0.288);
} 

.list-personagens img {
  width: 80%;
  border-radius: 10px;
  margin: 10px;
}

.persona-card {
  background-color: #19b8cd;
  width: 40vw;
  padding: 10px;
  margin: 10px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}